<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include "Header.html" %}
<div align="center">
  <h3>Marksheet List</h3>
  <table width="100%" border="1">
    <tr>
        <th>Rollno</th>
        <th>Name</th>
        <th>Physics</th>
        <th>Chemistry</th>
        <th>Maths</th>
        <th>Action</th>
    </tr>
      {% for l in list %}
       <tr>
            <td style="text-align:center">{{l.rollNo}}</td>
            <td style="text-align:center">{{l.name}}</td>
            <td style="text-align:center">{{l.physics}}</td>
            <td style="text-align:center">{{l.chemistry}}</td>
            <td style="text-align:center">{{l.maths}}</td>
            <td style="text-align:center">
                <a href="/edit/{{l.id}}">Edit</a>
                <a href="/delete/{{l.id}}">Delete</a>
            </td>
        </tr>
        {% endfor %}
  </table>
</div>
</body>
</html>